<div class="navbar-custom">
    <div class="topbar container-fluid">
        <div class="d-flex align-items-center gap-lg-2 gap-1">
            <!-- Topbar Brand Logo -->
            <div class="logo-topbar">
                <!-- Logo light -->
                <a href="index.html" class="logo-light">
                    <span class="logo-lg">
                        <img src="/assets/images/logo.png" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img src="/assets/images/logo-sm.png" alt="small logo">
                    </span>
                </a>

                <!-- Logo Dark -->
                <a href="index.html" class="logo-dark">
                    <span class="logo-lg">
                        <img src="/assets/images/logo-dark.png" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img src="/assets/images/logo-dark-sm.png" alt="small logo">
                    </span>
                </a>
            </div>

            <!-- Sidebar Menu Toggle Button -->
            <button class="button-toggle-menu" (click)="layoutService.onClickToggleMenu()">
                <i class="mdi mdi-menu"></i>
            </button>
            
            <!-- Topbar Search Form -->
           <app-top-search></app-top-search>
        </div>

        <ul class="topbar-menu d-flex align-items-center gap-3">
            <!-- languages -->
            <app-languages></app-languages>

            <!-- notification -->
            <app-notification></app-notification>
        
            <!-- brands -->
            <app-brands></app-brands>

            <!-- setting theme -->
            <li class="d-none d-sm-inline-block">
                <a class="nav-link" (click)="showSettingTheme()">
                    <i class="ri-settings-3-line font-22"></i>
                </a>
            </li>

            <!-- change dark or light mode -->
            <li class="d-none d-sm-inline-block">
                <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Theme Mode" data-bs-original-title="Theme Mode">
                    <i class="ri-moon-line font-22" (click)="layoutService.changeTheme()"></i>
                </div>
            </li>

            <!-- full screen -->
            <li class="d-none d-md-inline-block">
                <a class="nav-link" (click)="fullScreen()">
                    <i class="ri-fullscreen-line font-22"></i>
                </a>
            </li>

            <!-- User -->
            <app-account-user></app-account-user>
        </ul>
    </div>
</div>
