<li class="dropdown language-container">
    <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" (onChange)="onChangeLanguage($event)">
        <ng-template pTemplate="selectedItem">
            <a *ngIf="selectedLanguage" style="height: auto;">
                <img  [src]="'assets/images/flags/' + selectedLanguage.flag"alt="user-image" class="me-0 me-sm-1" height="12">
                <span class="align-middle d-none d-lg-inline-block">{{selectedLanguage.name}}</span>
            </a>
        </ng-template>
        <ng-template let-language pTemplate="item">
            <div class="language-item">
                <img [src]="'assets/images/flags/' + language.flag" alt="user-image" class="me-1" height="12"> 
                <span class="align-middle">
                    {{language.name}}
                </span>
            </div>
        </ng-template>
    </p-dropdown>
</li>
