<div class="users-container">
    <div class="grid">
      <div class="col-12">
        <div class="card">
            <!-- Filter -->
            <div class="search mb-4">
                <p-fieldset legend="Filter Options" [toggleable]="true" [collapsed]="false">
                       <div class="p-fluid p grid">
                           
                        </div>
                        <div class="flex justify-content-end">
                            <button pButton pRipple type="button" label="search"
                                class="p-ripple p-button-secondary p-button ml-2" icon="pi pi-search" label="search" (click)="onSearch()"></button>
                        </div>
                </p-fieldset>
            </div>
            <div class="staff-list">
                <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>company</th>
                            <th>role</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{ item.staffCode }}</td>
                            <td>{{ item.fullname }}</td>
                            <td>{{ item.company }}</td>
                            <td>{{ item.role }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>